@tailwind base;
@tailwind components;
@tailwind utilities;


.text-amber-600 {
    color: #d97706;
}
.text-green-600 {
    color: #047857;
}
.text-green-800 {
    color: #047857;
}
.text-red-600 {
    color: #c53030;
}
.text-red-800 {
    color: #c53030;
}
.text-blue-600 {
    color: #0d9488;
}
.text-blue-800 {
    color: #0d9488;
}
.text-indigo-600 {
    color: #5a67d8;
}
.text-indigo-800 {
    color: #5a67d8;
}
.text-purple-600 {
    color: #6b46c1;
}
.text-purple-800 {
    color: #6b46c1;
}
.text-pink-600 {
    color: #d53f8c;
}
.text-pink-800 {
    color: #d53f8c;
}
.text-blue-600 {
    color: #0d9488;
}
.text-blue-800 {
    color: #0d9488;
}
.text-gray-600 {
    color: #4a5568;
}
.text-gray-800 {
    color: #4a5568;
}
.text-gray-900 {
    color: #1a202c;
}
.text-gray-100 {
    color: #f7fafc;
}
.text-gray-200 {
    color: #edf2f7;
}
.text-gray-300 {
    color: #e2e8f0;
}
.text-gray-400 {
    color: #cbd5e0;
}
.text-gray-500 {
    color: #a0aec0;
}
.text-gray-700 {
    color: #718096;
}
